.top-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header {
  transform: none;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: var(--description-color);
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.settings-button {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.settings-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: var(--icon-color);
}
